@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
nav{
    font-family: 'Belanosima', sans-serif;
    background-color: black;
    
    
}
nav ul{
    list-style-type: none;
    display: flex;
    
    height:2.5em;
    align-items: center;
    
}
li{
    margin:0.2em;
    color: white;
}
.container{
    font-family: 'Belanosima', sans-serif;
    min-height: 55vh;
    background-color: black;
    color: white;
    display: flex;
    width:100%;
    margin:23px auto;
    border-radius: 15px;
    padding:30px;
}
.bottom{
    display: flex;
    background-color: black;
    height:20vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#myProgress{
    color:blue;
    width:66em;
    cursor:pointer;
    
}

.fa-regular{
    color:white;

}
.fa-solid{
    color:white;
}
.icons{
    margin-top:20px;

}
.container{
    background-image: black;
    background-size:cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}
.song{
    display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: rgb(22, 206, 22);
   padding: 5px;
   color: black;
   border-radius: 20px;
   margin-bottom: 15px;
}
.Duration{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
.play{
    margin-top:0px;
    margin-left:20px;
    
}


.play i{
    color:black;
}
.heading{
    display: flex;
    height:25px;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}